<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style %><!-- used to extarct style tag from body and place it in head  -->
    </head>
    <body>
        <%- include('_header'); %> <!-- partials used -->
        <%- body %> <!-- indicates the variable part -->
        <%- include('_footer'); %>
        <%- script%>
    </body>
</html>