<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> --><!-- all this part of the code is taken care by layout.ejs -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1> User profile</h1>

        <img src="<%=user.avatar %>" alt="<%= user.name%>" width="100">
        
        <p>profile page</p>

        
        <!-- if user matches show the form to update user info -->
        <% if(user.id == profile_user.id){ %>
            <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
                <input type="text" name="name" placeholder="type your name" value="<%= profile_user.name %>" required>
                <input type="email" name="email" placeholder="type your email" value="<%= profile_user.email %>" required>

                <input type="file" name="avatar" placeholder="profile img">
                <input type="submit" value="Update">
            </form>
        <%}else{%>
            <!-- else show only profile info -->
            <p><%= profile_user.name %></p>
            <p><%= profile_user.email %></p>
        <%}%>
        
        <%if( user.id != profile_user.id){%>
        <div>
          <button> <a id="toggle-friend" href="/users/addFriend/<%= profile_user.id%>" id="toggle-friend">Add Friend</a></button>
          </div>
        <%}%>

        <a href="/users/sign-out">
            Sign Out
        </a>
        <!-- Code added by me for friends -->
        <script>
            $('#toggle-friend').click(function(e){
                e.preventDefault();
                console.log("hello friend")
                $.ajax({
                    type: 'post',
                    url: $('#toggle-friend').attr('href')
                })
                .done(function(data){
                    // console.log(data);
                    $('#toggle-friend').html(`Remove friend`)
            })
            .fail(function(errData) {
                console.log('error in completing the request');
            });
            })
        </script>
        
    <!-- </body>
</html> --><!-- all this part of the code is taken care by layout.ejs -->